[Desktop Entry]
Type=Service
Actions=OnlineFix;
Encoding=UTF-8
ServiceTypes=all/allfiles
X-KDE-Priority=TopLevel
MimeType=application/vnd.rar;application/x-ms-dos-executable;
X-KDE-Submenu=
Version=1.0.1
Icon=oflogo

[Desktop Action OnlineFix]
Icon=
Exec=online-fix-importer %f
Name=Add to onlinefix launcher
Icon=oflogo
