[Desktop Entry]
Type=Service
Actions=OnlineFix;
Encoding=UTF-8
ServiceTypes=all/allfiles
X-KDE-Priority=TopLevel
MimeType=application/vnd.rar;application/x-ms-dos-executable;
X-KDE-Submenu=
Version=5.21
Icon=oflogo

[Desktop Action createOnline]
Icon=
Exec=/home/kq/Desktop/dotnet/onlinefix/bin/Debug/net10.0/onlinefix create %f
Name=Extract and add to onlinefixlauncher

[Desktop Action addToOnline]
Icon=
Exec=/home/kq/Desktop/dotnet/onlinefix/bin/Debug/net10.0/onlinefix add %f
Name=Add to onlinefixlauncher

[Desktop Action OnlineFix]
Icon=
Exec=/home/kq/Desktop/dotnet/onlinefix/bin/Debug/net10.0/onlinefix %f
Name=Add to onlinefix launcher
Icon=oflogo